  <div class="topnav" id="topnav">
    <a href="./home">Home</a>
  </div>

  <template class="adminTopnav" id="adminTopnav">
          <a href="./home">Home</a>
          <a href="./users ">Users</a>
          <a href="./web-scraping ">Web Scraping</a>
          <a href="./retailer-data">Upload Shop Data</a>
          <div class="profile">
            <a id="profile" href="./login" class="profile">Sign Out</a>
          </div>
  </template>

  <template class="userTopnav" id="userTopnav">
    <a href="./home">Home</a>
    <a href="./retailer-data">Upload Shop Data</a>
    <div class="profile">
      <a id="profile" href="./login" class="profile">Sign Out</a>
    </div>
  </template>

  <template class="baseTopnav" id="baseTopnav">
    <a href="./home">Home</a>
    <div class="profile">
      <a id="profile" href="./login" class="profile">Sign In</a>
    </div>
  </template>
