    <div id="content">
            <h1>Thesis work project for Óbuda University, Business Informatics MSc.</h1>
            <h4>My name is Peter Mako, and my Neptun Code is E8HZ8D</h4>
            <p><b>The usage of the website is straightforward:</b><br>-After signing you can do the following:
                <br><b>If you are an admin</b>
                <br>-You can set users to admin roles and manage active users.
                <br>-You can also start a timed or immediate scraping request.
                <br><b>If you are a retailer:</b>
                <br>-You can upload the data the details of the products you are selling.</p>
    </div>
