#content{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 5em;
    vertical-align: middle;
    border-radius: 2em;
    color: rgb(160, 158, 158);
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(4px);
    text-align: center;
}
h1{
    color: #2ecc71;
    text-decoration-thickness: 16;
}
h4{
    color: white;
}